<style>
    div,
    ::after,
    ::before {
        box-sizing: border-box;
        z-index: 100;
    }
</style>

<!-- Breadcrumbs -->
<section class="bg-gray-7">
    <div class="breadcrumbs-custom box-transform-wrap context-dark">
        <div class="container">
            <h3 class="breadcrumbs-custom-title">Menu</h3>
            <div class="breadcrumbs-custom-decor"></div>
        </div>
        <div class="box-transform" style="background-image: url(images/bg-1.jpg);"></div>
    </div>
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active">Menu</li>
        </ul>
    </div>
</section>




<!-- Our Shop-->

<section class="section section-lg bg-default" id='category'>
    <div class="container">
        <div class="tabs-custom row row-50 justify-content-center flex-lg-row-reverse text-center text-md-left">
            <div class="col-lg-4 col-xl-3">
                <h5 class="text-spacing-200 text-capitalize">CATEGORY</h5>
                <ul class="nav list-category list-category-down-md-inline-block">
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay="0s"><a
                            class="active" href="/products" data-toggle="tab">All products</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".1s"><a
                            href="#tabs-4-2" data-toggle="tab">Combos</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".2s"><a
                            href="/products/pizza" data-toggle="tab">Pizzas</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".3s"><a
                            href="/products/burger" data-toggle="tab">Burgers</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".4s"><a
                            href="/products/spaghetti" data-toggle="tab">Spaghetti</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".5s"><a
                            href="/products/drink" data-toggle="tab">Drinks</a></li>
                    <li class="list-category-item wow fadeInRight" role="presentation" data-wow-delay=".6s"><a
                            href="/products/dessert" data-toggle="tab">Desserts</a></li>
            </div>
            <div class="col-lg-8 col-xl-9">
                <form style="background-color: cyan;" class="position-relative " id="form-search" action="./search">
                    <div class="input-group">
                        <input type="text" class="form-control" onfocus="funcSearch(this)" onkeyup="funcSearch(this)"
                            placeholder="Search ..." name="q" autocomplete="off" />
                        <div class="input-group-append">
                            <button type="submit" class="btn-primary btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="input-group mb-3 position-absolute shadow-sm  mb-5 bg-white rounded text-start"
                        style="background-color: #e5f5f9; z-index: 1000 ">
                        <ul id="search">

                        </ul>
                    </div>
                </form>
                <div class="mt-2 d-flex justify-content-start">
                    <div>
                        <a href="#demo" class="btn btn-light" data-toggle="collapse"> <i class="fa fa-filter"
                                style="font-style: normal" aria-hidden="true"></i> Filter</a>
                        <div id="demo" class="collapse  mt-2">
                            <div class="form-group d-inline">
                                <select class="custom-select" id="filter-price" name="filter-price">
                                    <option selected="" value="0">Price</option>
                                    <option value="1">5$ - 25$</option>
                                    <option value="2">25$ - 45$</option>
                                    <option value="3">>= 45$</option>
                                </select>
                            </div>
                            <div class="form-group d-inline">
                                <select class="custom-select" id="filter-view">
                                    <option selected="" value="0">View</option>
                                    <option value="1">Low</option>
                                    <option value="2">Medium</option>
                                    <option value="3">High</option>
                                </select>
                            </div>
                            <div class="form-group d-inline">
                                <select class="custom-select" id="filter-name">
                                    <option selected="" value="0">Name</option>
                                    <option value="1">From A to Z</option>
                                    <option value="2">From Z to A</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row " id="list-products">
                    {{#each products}}
                    <div class="col-sm-6 col-lg-4 col-xl-4 my-3 ">
                        <!-- Product-->
                        <article class="product wow fadeInLeft" data-wow-delay=".15s">
                            <div class="product-figure item"><img src="{{this.IMAGE}}" alt="" width="161"
                                    height="162" />
                            </div>
                            <h6 class="product-title">{{this.DISH_NAME}}</h6>
                            <div class="prosduct-price-wrap">
                                <div class="product-price">{{this.PRICE}}$</div>
                                <div>
                                    <span class="fa fa-eye text-view" aria-hidden="true"></span>
                                    <span class="product-view">{{this.VIEW}}</span>
                                    <span class="text-view"> views</span>
                                </div>
                            </div>
                            {{#if this.STATUS}}
                            <div class="product-button">
                                <div class="button-wrap add-to-cart " product-id={{this._id}}><span
                                        class="button button-xs button-primary button-winona ">Add to cart</span></div>
                                <div class="button-wrap"><a class="button button-xs button-secondary button-winona"
                                        href="../products/detail?id={{this._id}}">View
                                        Product</a></div>
                            </div>
                            <span class="product-badge product-badge-sale">Sale</span>
                            {{/if}}
                            {{#unless this.STATUS}}
                            <span class="product-badge product-badge-new">Hết Hàng</span>
                            {{/unless}}
                        </article>
                    </div>
                    {{/each}}
                </div>
                {{#if isPaging}}
                <ul class="pagination justify-content-center" id="paging">
                    <li class="page-item disabled"><button class="page-link" id="prePage">Previous</button></li>
                    <li class="page-item active"><button class="page-link " id="pre-Page">1</button></li>
                    <li class="page-item"><button class="page-link" id="page">2</button></li>
                    {{#if pageThree}} <li class="page-item"><button class="page-link" id='next-Page'>3</button></li>
                    {{/if}}
                    <li class="page-item"><button class="page-link" id="nextPage">Next</button></li>
                </ul>
                {{/if}}
            </div>

        </div>
    </div>
</section>

{{!-- Script --}}
<!-- Javascript-->
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="js/temp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        console.log("ready!");
        let page = 1;
        let nextPage, prePage;
        var type = window.location.pathname.replace('products/', '');
        console.log(`/api/products${type}`);
        //Paging
        $('.page-link').click((e) => {
            //Use Ajax load data
            if (e.currentTarget.innerHTML == 'Next')
                page = page + 1;
            else if (e.currentTarget.innerHTML == 'Previous')
                page = page - 1;
            else page = parseInt(e.currentTarget.innerHTML);
            $.get(`/api/products${type}`,
                {
                    page: page
                }, function (products, status) {
                    $('#list-products').html(``);
                    console.log(products);
                    for (let i in products) {
                        //Het hang   
                        console.log(products[i].STATUS)
                        if (products[i].STATUS == 1) {
                            $('#list-products').append(`
	  <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
		<!-- Product-->
		<article class="product wow fadeInLeft" data-wow-delay=".15s">
		  <div class="product-figure item"><img src="https://picsum.photos/200" alt="" width="161" height="162" />
		  </div>
		  <h6 class="product-title">${products[i].DISH_NAME}</h6>
		  <div class="product-price-wrap">
			<div class="product-price">${products[i].PRICE}$</div>
			 <div>
                  <span class="fa fa-eye text-view" aria-hidden="true"></span>
                  <span class="product-view">${products[i].VIEW}</span>
                  <span class="text-view"> views</span>               
      </div>
		  </div>
		  <div class="product-button">
			<div class="button-wrap add-to-cart" product-id="${products[i]._id}"><span class="button button-xs button-primary button-winona">Add to
				cart</span></div>
			<div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="/products/detail?id=${products[i]._id}">View
				Product</a></div>
		  </div><span class="product-badge product-badge-sale">Sale</span>
		</article>
	  </div>`);
                        } else {
                            $('#list-products').append(`
	  <div class="col-sm-6 col-lg-4 col-xl-4 my-3">
		<!-- Product-->
		<article class="product wow fadeInLeft" data-wow-delay=".15s">
		  <div class="product-figure item"><img src="${products[i].IMG}" alt="" width="161" height="162" />
		  </div>
		  <h6 class="product-title">${products[i].DISH_NAME}</h6>
		  <div class="product-price-wrap">
			<div class="product-price">${products[i].PRICE}$</div>
			 <div>
                  <span class="fa fa-eye text-view" aria-hidden="true"></span>
                  <span class="product-view">${products[i].VIEW}</span>
                  <span class="text-view"> views</span>               
      </div>
		  </div>
		<span class="product-badge product-badge-new">Hết Hàng</span>
		</article>
	  </div>`);
                        }
                    }
                    if ($('#filter-price').val() != 0 || $('#filter-view').val() != 0 || $('#filter-name').val() != 0)
                        filter();
                    $('.add-to-cart').click(config);
                });
            //update other information
            document.location.href = '#category';
            nextPage = page + 1;
            prePage = page - 1;
            if (prePage == 0) {
                $('#prePage').parent().addClass('disabled');
                $('#pre-Page').parent().addClass('active');
                $('#pre-Page').html(page);
                $('#page').html(nextPage);
                $('#page').parent().removeClass('active');
                $('#next-Page').html(nextPage + 1);
                $('#nextPage').parent().remove('disabled');
            } else {
                $('#prePage').parent().removeClass('disabled');
                $('#pre-Page').parent().removeClass('active');
                $('#pre-Page').html(prePage);
                $('#page').html(page);
                $('#next-Page').html(nextPage);
                $('#next-Page').parent().show();
                $('#page').parent().addClass('active');
                $('#nextPage').parent().removeClass('disabled');
            }
            //update next page
            $.get(`/api/products${type}`,
                {
                    page: nextPage
                },
                function (products, status) {
                    console.log('next Page: ' + products[0]);
                    if (products[0] == undefined) {
                        console.log('empty ');
                        $('#next-Page').parent().hide();
                        $('#nextPage').parent().addClass('disabled');
                    }
                });
        });
        ///Add to cart
        $('.add-to-cart').on('click', config);
        function config() {
            productId = $(this).attr("product-id");
            imgtodrag = $(this).closest('.product').find('.item').find("img").eq(0);
            console.log('img', imgtodrag);
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var cart = $('.shopping-cart');
                    if (imgtodrag) {
                        var imgclone = imgtodrag.clone()
                            .offset({
                                top: imgtodrag.offset().top,
                                left: imgtodrag.offset().left
                            })
                            .css({
                                'opacity': '0.8',
                                'position': 'absolute',
                                'height': '150px',
                                'width': '150px',
                                'z-index': '100'
                            })
                            .appendTo($('body'))
                            .animate({
                                'top': cart.offset().top + 10,
                                'left': cart.offset().left + 10,
                                'width': 75,
                                'height': 75
                            }, 1000, 'easeInOutExpo');
                        imgclone.animate({
                            'width': 0,
                            'height': 0
                        }, function () {
                            $(this).detach()
                        });
                    }
                }
            };
            xhttp.open("GET", `../products/add-to-cart?id=${productId}`, true);
            xhttp.send();
        };



    });
    //Search 
    function funcSearch(s) {
        $('#search').show();
        $.get("../api/products/search",
            {
                q: s.value
            },
            function (products, status) {
                $('#search').html('');
                for (product in products) {
                    //  console.log(products[product]);
                    $('#search').append(`<li> <a href="/products/detail?id=${products[product]._id}" class="ms-3">${products[product].DISH_NAME}</a></li>`);
                }
            }
        );
    }
    //Filter

    $('body').click(function (event) {
        if (event.target != $('#form-search')) {
            $('#search').html('');
        }
        //if(!$())
    });

    $('select').click(() => {
        console.log('filter');
        filter();
    });
</script>